#App
PORT=3000
HOSTNAME=127.0.0.1
NODE_ENV=development

# JWT
ACCESS_JWT_SECRET=SomeVeryHardToReadSecter123
ACCESS_JWT_EXPIRES_IN=1d

REFRESH_JWT_SECRET=SomeVeryHardToReadSecter321
REFRESH_JWT_EXPIRES_IN=7d

# Mailer
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
SMTP_FROM="Vinyl Store <your_email@gmail.com>"

# MySQL
DB_TYPE=mysql
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=test
DB_SYNC=false

# Google OAuth
GOOGLE_CLIENT_ID=someid.apps.googleusercontent.com
GOOGLE_SECRET=GOCSPX-some-google-secret
GOOGLE_CALLBACK_URI=http://localhost:3000/api/auth/google/callback
GOOGLE_ADMIN_CALLBACK_URI=http://localhost:3000/api/auth/google/callback/admin

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=supersecretpassword
REDIS_TTL=300

# Bcrypt
BCRYPT_SALT_ROUNDS=10

# Stripe
STRIPE_SECRET_KEY=stripe_secret_key
STRIPE_PUBLIC_KEY=stripe_public_key
STRIPE_WEBHOOK_SECRET=stripe_webhook_secret

# Telegram
TELEGRAM_BOT_TOKEN=1234567890:SomeBot_Token
TELEGRAM_CHANNEL_ID=@somevinylchannel
TELEGRAM_ENABLED=true
STORE_BASE_URL=https://example.com

# discog
DISCOGS_TOKEN=discogs_token